.DS_Store
.vs/
.gradle/
.idea/
.vscode/
Library/
Temp/
Android-Build/
build_android/
build_ios/
build_linux/eb*
build_linux/gamelift_build_tmp/
build_linux/LinuxPlayer*
build_linux/Lootland_*
build_linux/UnityPlayer*
build_loadtest/LinuxPlayer*
build_loadtest/Lootland_*
build_loadtest/UnityPlayer*
build_osx/
build_standalone/
builds/
build/
obj/Debug/
Assets/Plugins/ConsoleE/Editor/ConsoleE_TabSettings*

Assets/StreamingAssets/hash.txt
Assets/StreamingAssets/hash.txt.meta

# Ignore Rider user settings
*.sln.DotSettings.user

*.iml
*.csproj
*.csproj.meta
*.sln
*.suo
*.userprefs
*.apk
*.ipa
Assets/Behaviors/I2/Localization/Scripts/Editor/Unity XCode/
Assets/Plugins/Editor/JetBrains/*
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta
Assets/BuildData.txt
Assets/BuildData.txt

#Firebase
Assets/Firebase/Plugins/link*
Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.8/
*.log
*.log
*.log
